.fullwidth {
    width: 100%;
    &:after{
        display: block;
        clear: both;
        content: '';
    }
}
.claim-request{
    margin-bottom: 20px;
    width: 100%;
    padding: 0 10px;
    border-bottom: 2px solid #ddd;
    font-size: 12px;
    cursor: pointer;
    &:first-child{
        border-top: 0;
    }

    .fullwidth p{
        display: inline-block;
    }
    @media screen and (max-width: 400px){
        .no-float-400{
            float: none !important;
        }
    }

}