<ion-content>
  <div class="claim-request" (click)="viewDetails()">
    <div class="fullwidth">
      <p float-left><b>Stay at Ramanand</b></p>
      <p float-right><b>Rs 1500</b></p>
    </div>
    <div class="fullwidth">
      <p float-left>From</p>
      <p float-left margin-left><b>03/11/2019</b></p>
      <p float-left margin-left>To</p>
      <p float-left margin-left><b>04/11/2019</b></p>
      <p float-right><b>Accomodation</b></p>
    </div>
  </div>
  <div class="claim-request">
    <div class="fullwidth">
      <p float-left><b>Stay at Ramanand</b></p>
      <p float-right><b>Rs 1500</b></p>
    </div>
    <div class="fullwidth">
      <p float-left>From</p>
      <p float-left margin-left><b>03/11/2019</b></p>
      <p float-left margin-left>To</p>
      <p float-left margin-left><b>04/11/2019</b></p>
      <p float-right><b>Accomodation</b></p>
    </div>
  </div>
  <div class="claim-request">
    <div class="fullwidth">
      <p float-left><b>Stay at Ramanand</b></p>
      <p float-right><b>Rs 1500</b></p>
    </div>
    <div class="fullwidth">
      <p float-left>From</p>
      <p float-left margin-left><b>03/11/2019</b></p>
      <p float-left margin-left>To</p>
      <p float-left margin-left><b>04/11/2019</b></p>
      <p float-right><b>Accomodation</b></p>
    </div>
  </div>
</ion-content>