<ion-content>
  <div class="claim-request" (click)="viewDetails()">
    <div class="fullwidth">
      <p float-left><b>Accomodation</b></p>
      <p float-right class="font14"><b>Rs 1500</b></p>
    </div>
    <div class="fullwidth">
      <p float-left>From</p>
      <p float-left margin-left><b>03/11/2019</b></p>
      <p float-left margin-left>To</p>
      <p float-left margin-left><b>04/11/2019</b></p>
      <p float-end class="no-float-400"><b>Stay at Ramanand, Rampur</b></p>
    </div>
  </div>
  <div class="claim-request" (click)="viewDetails()">
    <div class="fullwidth">
      <p float-left><b>Food</b></p>
      <p float-right class="font14"><b>Rs 418</b></p>
    </div>
    <div class="fullwidth">
      <p float-left>From</p>
      <p float-left margin-left><b>03/11/2019</b></p>
      <p float-left margin-left>To</p>
      <p float-left margin-left><b>04/11/2019</b></p>
      <p float-end class="no-float-400"><b>Lunch and Dinner in Rampur</b></p>
    </div>
  </div>
  <div class="claim-request" (click)="viewDetails()">
    <div class="fullwidth">
      <p float-left><b>Travel</b></p>
      <p float-right class="font14"><b>Rs 4000</b></p>
    </div>
    <div class="fullwidth">
      <p float-left>From</p>
      <p float-left margin-left><b>03/11/2019</b></p>
      <p float-left margin-left>To</p>
      <p float-left margin-left><b>04/11/2019</b></p>
      <p float-end class="no-float-400"><b>Two-way flight and local travel</b></p>
    </div>
  </div>
  
</ion-content>