<ion-content>
    <div class="container">
      <p>Please fill the form below to raise a request for claim.</p>
      <form>
          <ion-list>
            <ion-item>
              <ion-input class="font14" type="text" placeholder="Expense Title" name="ExpTitle" [(ngModel)]="claimForm.ExpTitle" required #expTitle="ngModel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="font14" type="text" placeholder="Description" name="Description" [(ngModel)]="claimForm.Description" required #desc="ngModel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="font14">Start Date</ion-label>
              <ion-datetime class="font14" displayFormat="MMM DD YYYY" name="startDate" [(ngModel)]="claimForm.startDate" #strtdate="ngModel" required></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label class="font14">End Date</ion-label>
              <ion-datetime class="font14" displayFormat="MMM DD YYYY" name="endDate" [(ngModel)]="claimForm.endDate" #enddate="ngModel" required></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label class="font14">Category</ion-label>
              <ion-select class="font14" name="category" [(ngModel)]="claimForm.category" #category="ngModel" required>
                <ion-option value="FOOD">Food</ion-option>
                <ion-option value="TRAVEL">Travel</ion-option>
                <ion-option value="ACCOMODATION">Accomodation</ion-option>
                <ion-option value="OTHER">Other</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input class="font14" type="number" placeholder="Total Amount" name="Amount" [(ngModel)]="claimForm.Amount" required #amount="ngModel"></ion-input>
            </ion-item>   

            <button ion-button color="light" class="cta" (click)="clickImage();" block>Click New </button>
            <button ion-button color="light" class="cta" (click)="clickImage(true);" block>Upload from Gallery</button>
            
            <p text-center class="font12" *ngIf="downloadURL" ><strong>Uploading: {{uploadPercent | async}}%</strong></p>
            <div class="reciept-images" align="center" *ngFor="let reciept of reciepts;let i=index">
              <p>{{Reciept}} &nbsp; {{i}}</p>
              <img src= "{{downloadURL}}"/>  
            </div>
            
            <button ion-button [disabled]="expTitle.pristine || desc.pristine || strtdate.pristine || enddate.pristine && category.pristine && amount.pristine" (click)="showConfirm();" block>Submit</button>
          </ion-list>  
      </form>
    </div>
  </ion-content>