.container{
    padding: 20px;
}
.cta{
    margin: 10px auto;
    &:hover{
        background: grey;
        color: black;
    }
}
ion-input{
    margin: 0px;
    font-size: 14px;
}
.reciept-images{
    margin: 0 10px 0 0;
    width: 45%;
    float: left;
    transition: width linear 0.4s;
    &:nth-child(2n-1){
        margin-right: 15px;
    }
    
}