.container{
    padding: 20px;
}
.cta{
    margin: 10px auto;
    &:hover{
        background: grey;
        color: black;
    }
}
ion-input{
    margin: 0px;
    font-size: 14px;
}
.reciept-images{
        width: 47%;
        height: auto;
        float: left;
        &:nth-child(2n){
            margin-right: 15px;
        }
}