body, p, li, div {
    color: #4a4a4a;
}

ion-input{
    border: none !important;
}
.btn-grey{
    background: #4a4a4a;
    color: #ffffff;
}
.page-title{
    text-align: center;
}
.container{
    padding: 20px;
}
.bordered{
    border: 1px solid #4a4a4a;
}
ion-item{
    margin-bottom: 16px !important;
    padding-left: 0 !important;
}