@font-face{
    font-family: Nunito;
    src: url('../assets/fonts/Nunito/NunitoSans-Regular.ttf');
}
@font-face{
    font-family: NunitoDark;
    src: url('../assets/fonts/Nunito/NunitoSans-Black.ttf');
}
*{
    font-family: Nunito;
}
.tab-button-text{
    font-family: NunitoDark;
    font-size: 16px;
    letter-spacing: 2.5px;
}
.text-input{
    margin: 0px;
}
.font12{
    font-size: 12px;
}
.font14{
    font-size: 14px;
}
.font16{
    font-size: 16px;
}
.font-bold{
    font-weight: 600;
}
.backIcon{
    cursor: pointer;
    margin-bottom: 20px;
}